.dashboard {
	padding : 30px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 90%;
    height: 500px;
    background-color: white;
    padding : 30px;
    border:1px solid #3C5326;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}