html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

/*body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}*/

body {
    height:100%;
}

#grailsLogo {
	padding:20px;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

.header-menu {
    color: #48802c;
    font-weight: normal;
    font-size: 12px;
    margin:0;
}

ul {
    padding-left: 15px;
}

input {
    background-color: #fcfcfc;
    border: 1px solid #3C5326;
    font: 13px Trebuchet MS, Helvetica, sans-serif;
    height: 20px;
    margin: 2px 0;
    padding: 2px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font: 100%/100% Trebuchet MS, Helvetica, sans-serif;
}



textarea {
    background-color: #fcfcfc;
    border: 1px solid #3C5326;
    margin: 2px 0;
    padding: 2px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font: 100%/100% Trebuchet MS, Helvetica, sans-serif;
}

select  {
    border: 1px solid #3C5326;
    padding: 4px 0;
    line-height: 20px;
    margin: 2px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font: 100%/100% Trebuchet MS, Helvetica, sans-serif;
}

textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;

}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.checkbox {
    margin : 0;
    padding: 0;
    height: 15px;
    -moz-border-radius : 0px;
    -webkit-border-radius : 0px;
    border-radius : 0px;
    -moz-box-shadow: 0px;
    -webkit-box-shadow: 0px;
    box-shadow:  0px;
}

.body {
    clear:both;
    margin: 0 160px 10px 160px;

}

.login-body {
    float: left;
    margin: 0 15px 10px 15px;
    padding-bottom: 30px;
    padding-left:30px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px;
    font: 13px Trebuchet MS, Helvetica, sans-serif;
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
    font:  13px Trebuchet MS, Helvetica, sans-serif;
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
    font:  13px Trebuchet MS, Helvetica, sans-serif;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

input.errors {
    border: 1px solid red;
}


/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 12px Trebuchet MS, Helvetica, sans-serif;
    padding: 5px 6px;
    text-align: left;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

.amount{
    text-align: right;
}

.lastRow {
    border-color:#3C5326;
    background-color:#C2D9AE;
    border-top: 1px solid #3C5326;
}

.lastRow td{
    font-weight: bold;
}

/* LIST */

.list table {
    border-collapse: collapse;
    border-color:#3C5326;
    background-color:#C2D9AE;
    color:#3C5326;
}

.list th {
    border-bottom: 1px solid #3C5326;
    font : 10px;
    text-decoration: none;
}

.list th, .list td {
    border-left: 1px solid #3C5326;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

.list .button-bar {
    border-top : 1px solid #3C5326;
}

/* SEARCH */

.search table {
    border-collapse: collapse;
    border-left: 1px solid #3C5326;
    border-right:1px solid #3C5326;
    border-bottom:1px solid #3C5326;
    border-top:1px solid #3C5326;
    color:#3C5326;
}
.search th:hover, .search tr:hover {
    background: #b2d1ff;
}

.search .save {

    height : 25px;
    font-size : 10px;
    text-align: center;
    width:50px;
    color:#3C5326;

}

.search button:hover {

    border-top : 1px solid #b2d1ff;

}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #3C5326;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
    font-family: Calibri;
}
.paginateButtons a {
    background: #fff;
    /*border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;*/
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    border-left: 1px solid #3C5326;
    border-right:1px solid #3C5326;
    border-bottom:1px solid #3C5326;
    border-top:1px solid #3C5326;
    color:#3C5326;
}

.total table {
    border-collapse : collapse;
    border-left: 1px solid #3C5326;
    border-right:1px solid #3C5326;
    border-bottom:1px solid #3C5326;
    border-top:1px solid #3C5326;
    color:#3C5326;
}

.total tr {
    border-left : 1px solid #3C5326;
    border-right : 1px solid #3C5326;
}

.prop {
    padding: 0px;
}
.prop .name {
    text-align: left;
    /*white-space: nowrap;*/
    vertical-align:middle;
    width:15%;
    font-weight: bold;
    font-style:normal;
    font-size:13px;
    padding-left:40px;
}

.prop .sub {
    text-align: left;
    padding-left : 1cm;
    width:15%;
    font-style:normal;
    vertical-align: middle;
}

.prop .subTop {
    text-align: left;
    padding-left : 1cm;
    width:15%;
    font-style:normal;
    vertical-align: top;
}

.prop .value {
    text-align: left;
    width: inherit;
    vertical-align: middle;
}

/* ACTION BUTTONS */

.buttons {
    background-color:#C2D9AE;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
    text-align: right;
}

.buttons input {
    border: 1px solid black;
    background: white;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: white url(../images/skin/database_delete.png) 5px 50% no-repeat;
    border-color: 1.5px solid #3C5326;
    padding-left: 28px;
}
.buttons input.edit {
    background: white url(../images/skin/database_edit.png) 5px 50% no-repeat;
    border-color: 1.5px solid #3C5326;
    padding-left: 28px;
}
.buttons input.save {
    background: white url(../images/skin/database_save.png) 5px 50% no-repeat;
    border-color: 1.5px solid #3C5326;
    padding-left: 28px;
}

.buttons input.add {
    background: white url(../images/skin/add_button.png)  5px 50% no-repeat;
    border-color: 1.5px solid #3C5326;
    padding-left: 28px;
}

.buttons input.submit {
    background: white url(../images/skin/database_add.png)  5px 50% no-repeat;
    border-color: 1.5px solid #3C5326;
    padding-left: 28px;
}

.buttons a {
    padding: 2px 6px;
    padding-left: 25px;
    overflow: visible;
    border: 0;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;0;
    border-color: 1.5px solid #3C5326;
}

#header {
    background: #48802c;
    padding: 2em 1em 2em 1em;
    margin-bottom: 1em;
}
a.header-main:link, a.header-main:visited {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
}
.header-sub {
    color: #fff;
    font-size: 1.25em;
    font-style: italic;
}

.footer {
    font-size: 0.75em;
    font-style: italic;
    clear: both;
    position:fixed;
    bottom:0px;
    width:100%;
    background-color: #433438;
    color:white;
}

#loginHeader {
    float: right;
    color: #fff;
}

#loginHeader a{
    color: #fff;
}


.homePagePanel * {
    margin:0px;
}
.homePagePanel .panelBody ul {
    list-style-type:none;
    margin-bottom:10px;
}
.homePagePanel .panelBody h1 {
    text-transform:uppercase;
    font-size:1.1em;
    margin-bottom:10px;
}
.homePagePanel .panelBody {
    background: url(../images/leftnav_midstretch.png) repeat-y top;
    margin:0px;
    padding:15px;
}
.homePagePanel .panelBtm {
    background: url(../images/leftnav_btm.png) no-repeat top;
    height:20px;
    margin:0px;
}

.homePagePanel .panelTop {
    background: url(../images/leftnav_top.png) no-repeat top;
    height:11px;
    margin:0px;
}

.pageBody {
    padding-top:20px;
    padding-bottom:20px;
    margin-left:80px;
    margin-right:20px;
}

.button-bar {
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:30px;
}

.table-header {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
        border-left: 1px solid #3C5326;
    border-right:1px solid #3C5326;
    border-top:1px solid #3C5326;

    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 4px 3px;
    font-weight: bold;
    font-family : Trebuchet MS;
}

input.load {
    padding: 2px 6px;
    padding-left: 25px;
    overflow: visible;
    border: 0;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;0;
    border-color: 1.5px solid #3C5326;
    background: white url(../images/skin/database_save.png) 5px 50% no-repeat;
    border-color: 1.5px solid #3C5326;
    padding-left: 28px;
}