/*
    Document   : navMenu
    Created on : Dec 12, 2011, 9:43:14 PM
    Author     : Jephy
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#navMenu {
    height:35px;
    /*background:#00a22a url(../images/mainnavbg.jpg);*/
    background-color: #58B28B;
    background-image: 
        linear-gradient(
            to top right, 
            #58B28B, #71B553
        );
    font: bold 80%/100% Trebuchet MS, Helvetica, sans-serif;
    margin-left:150px;
    margin-right:150px;
    padding:0;

    border-bottom-color: #C0C0C0;
    border-top: 1px solid #3C5326;
    border-bottom: 1px solid #3C5326;
}

#navMenu ul {
    margin:0;
    padding:0;
    line-height:30px;
    width:auto;
    position:relative;
    display:block;
    height:20px;
    font-family:Trebuchet MS, Helvetica, sans-serif;

}

#navMenu li {
    list-style:none;
    float:left;
    position:relative;
    width:120px;
    display:block;
    border:1px solid transparent;
}

#navMenu ul li a {
    text-align:left;
    text-decoration: none;
    display:block;
    font-size:140%;
    text-decoration:none;
    font-weight:bold;
    padding:2px 10px 0px 10px;
    /*border-right:2px solid #8dd5a0;*/
    color:#282828;
}

#navMenu ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
	/*background:transparent url(../images/navhover.jpg);*/
    background-color: #2682B5;
	background-position: 0px -1px;
	border:1px solid #3C5326;
}


#navMenu ul li > a:hover, #navMenu ul li:hover > a
{
	/*background:transparent url(../images/navhover.jpg);*/
    background-color: #2682B5;
	background-position: 5px -10px;
	border:1px solid #3C5326;


}

#navMenu ul ul {
    position:absolute;
    visibility: hidden;
    top: 35px;
    font: normal 13px Trebuchet MS, Helvetica, sans-serif;
    list-style-type: none;
}

#navMenu ul li:hover ul {
    visibility: visible;
}


#navMenu ul li ul li a {
    text-align:left;
    display:block;
    font-size:11px;
    list-style:none;
    text-decoration: none;
    color: #282828;
    /*background: #00a22a url(../images/submenu.jpg) repeat-y;*/
    background-color: #34C159;
    border:1px solid #3C5326;
    padding: 4px 5px 4px 20px;
}

#navMenu ul li ul li ul li{
    visibility: hidden;
    left: 120px;
    top: -36.5px;
    width:175px;
}

#navMenu ul li ul li:hover ul li{
    visibility: visible;
}

#navMenu ul li ul li ul li a{
    width:150px;
    padding-right : 3px;
}






